body {
    border: 3px solid black;
    background-color: darkgrey;
}

h1 {
    text-align: center;
    color: firebrick;
}

p {
    text-align: center;
    margin: 25px 100px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.list {
    text-align: center;
    margin: 25px 100px;
}

.button {  
    display: block;
    margin: auto;
}

.jsFun {
    font-size: 32px;
    text-align: center;
    color: blue;
}